body , html{
    min-height: 100%;width: 100%;font-size: 14px; font-family: 'Poppins', sans-serif;height: 100vh;background: #f7f7f7;
}
a{
    color: #fff;
}
h1 {
    font-family:'Gabriola', serif;
    text-align: center;
}
ul {
    list-style: none;
}
/* label{
    margin-bottom: 0;
    display: flex;
    align-items: center;
    font-size: 1.3em;
    color: #fff;
    font-weight: normal;
    border: none;
    margin-bottom: 10px;
    padding: 5px 12px;
    display: flex;
    align-items: center;
    background: #0000001a;
    transition: all .3s;
    cursor: pointer;
} */
li {
    font-size: 1.3em;
    color: #000;
    font-weight: normal;
    border: none;
    margin-bottom: 10px;
    padding: 10px 12px;
    display: flex;
    align-items: center;
    background: #f7f7f7;
    transition: all .3s;
    cursor: pointer;
    border-bottom: 1px solid #eaeaea;
}
li:hover{
    box-shadow: 0px 2px 8px -7px #000000;
}
input[type=radio] {
    border: 0px;
    width: 20px;
    height: 2em;
    margin-right: 10px;
}
p {
    font-family:'Gabriola', serif;
}
/* Quiz Classes */
.heading{
    font-weight: bold;
}
.normal-font-weight{
    font-weight: normal;
}
.main-box-wrapper{
    display: flex;align-items: center;height: 100%;
}
.inner-wrapper{
    width: 100%;
}
.text-blue{
    color: #24abe2;
}
.text-yellow{
    color: #FF9800;
}
.inner-wrapper .content{
    width: 70%;
    margin: 0 auto;
    font-size: 18px;
    line-height: 25px;
}
.inner-wrapper .heading-2{
    font-family: 'Gabriola', serif;
    font-size: 2rem;font-weight: bold;
}
 .quizContainer {
    background-color: #fff;
    width: 60%;
    margin: auto;
    position: relative;
    box-shadow: 0 0 45px -25px #ababab;
    padding: 50px;
}
.quizcontainer #quiz1
{
text-shadow:1px 1px 2px orange;
font-family:"Georgia", Arial, sans-serif;
}
/* .nextButton {
    box-shadow: 3px 3px 5px #888;
    border-radius: 6px;
    height: 40px;
    text-align: center;
    background-color: lightgrey;
    color: red;
    font-family:'Gabriola', serif;
    position: relative;
    margin: auto;
	font-size:25px;
	font-weight:bold;
    padding-top: 5px;
	float:right;
	right:30%;
} */

.preButton {
    box-shadow: 3px 3px 5px #888;
    border-radius: 6px;
    /*width: 150px;*/
    height: 40px;
    text-align: center;
    background-color: lightgrey;
    /*clear: both;*/
    color: red;
    font-family:'Gabriola', serif;
    position: relative;
    margin: auto;
	font-size:25px;
	font-weight:bold;
    padding-top: 5px;
	float:left;
	left:30%;
}

.question {
    font-size: 1.5em;
    width: auto;
    margin: auto;
    background-color: #24abe2;
    text-align: center;
    padding: 5px 10px;
    color: #fff;
    margin-top: 70px;
}
.quizMessage {
    background-color: rgba(240, 52, 52, .8);
    border-radius: 0;
    width: 20%;
    margin: auto;
    text-align: center;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Gabriola', serif;
    color: #fff;
    position: absolute;
    top: 111px;
    left: 40%;
}
.choiceList {
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    margin-top: 30px;
    padding-right: 40px;
}
.result {
    width: 40%;
    height: auto;
    border-radius: 6px;
    background-color: linen;
    margin: auto;
	color:green;
    text-align: center;
	font-size:25px;
    font-family:'Verdana', serif;
	font-weight:bold;
	position:absolute;
	top:80%;
	left:30%;
}
.inner-wrapper .btn-primary {
    min-width: 200px;font-size: 16px;font-weight: 500;
}
.btn-primary {
    color: #fff;
    background-color: #036685;
    border-color: #036685;
    border-radius: 0;
}
.btn-primary:hover {
    color: #fff;
    background-color: #02455a;
    border-color: #02455a;
}
.timer{
    color: #909090;
    position: absolute;
    left: 74%;
    top: 9%;
    font-size: 20px;
    text-align: center;
}
input[type="radio"]:checked,
input[type="radio"]:not(:checked) {
    position: absolute;
}
input[type="radio"]:checked + label,
input[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
    margin-bottom: 0;
}
input[type="radio"]:checked + label:before,
input[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
input[type="radio"]:checked + label:after,
input[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #24abe2;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
input[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
input[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
input[type="radio"] {
    position: absolute;
    opacity: 0;
}

/* End of Quiz Classes */